body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;

}

label,
input {
    display: block;
}

form {

    display: flex;
}

input {
    margin-bottom: 20px;

}

.right {
    margin-left: 60px;
}

.text1 {
    margin: 150px;
    margin-bottom: 70px;
    font-weight: bolder;

}
.no-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    top: 35%;
    height: 200px;
    width: 40.3%;
    background-color: #00000060;
    font-size: 70px;
    opacity: 50%;
}
#right-side {
    
    padding-left: 50px;
}
legend {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: x-large;
}

input:focus{
    outline: none !important;
    border: 2px solid #5388b3;
}
#left-side{
    position: relative;
    width: 40vw;
    height: 100vh;
    --text-color: white;
    --link-color: white;
}

#left-side>img {
    height: 100%;
    width: 100%;
}
fieldset{
    background-color: #5388b3;
    
}
.credit {
    position: fixed;
    bottom: 10px;
    left: 15%;
    font-size: large;
    color: white;
    opacity: 50%;
}