
body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    
}
label,input{
    display: block;
}
form{
    
    display: flex;
}
input{
    margin-bottom: 20px;

}
.left{
    margin-left:40px ;
}
.right{
    margin-left:60px ;
}
.text1{
    margin: 150px;
    font-weight: bolder;
    
}
#img {
    height: 100vh;
    width: 40vw;
}
#right-side{
    background-color:aliceblue;
}

.no-logo {
    background-color: black;
    opacity: 30%;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 50px;
}